.hero {
  display: flex;
  height: 90vh;
  width: 100vw;
  flex-direction: column-reverse;
}
.hero .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  bottom: 36px;
  background: black;
  color: white;
  padding: 24px;
  margin: 24px;
  /* min-height: 25vh; */
  /* min-height: 30vh; */
}
.content h3 {
  font-size: 24px;
}
.content p {
  margin-top: 16px;
  font-size: 14px;
}

.content button {
  width: 100%;
  margin-top: 48px;
}

.text {
  height: 35vh;
  /* display: flex;
  flex-direction: column; */
  padding: 24px;
}

.text h1 {
  font-size: 28px;
}
.text h2 {
  font-size: 20px;
}

.image {
  /* height: 65vh; */
  padding: 48px 0;
}

.image img {
  height: 55vh;
  min-width: 400px;
}

.section {
  position: relative;
}
.section div {
  min-height: 300px;
}

@media screen and (min-width: 576px) {
  .text h1 {
    font-size: 48px;
  }
  .text h2 {
    font-size: 36px;
  }
  .section button {
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  .content {
    margin: 24px 20vw;
    padding: 24px;
  }
  .hero {
    flex-direction: row;
  }

  .text {
    width: 50vw;
    height: 90vh;
    padding-top: 35vh;
  }
  .image {
    width: 50vw;
    height: 90vh;
    /* padding: ; */
  }
  .image img {
    width: 560px;
    height: auto;
  }

  .content h3 {
    font-size: 28px;
  }
  .content p {
    font-size: 16px;
  }
  .content button {
    margin-top: 56px;
  }
}
/* .section img {
  width: 100vw;
} */
